<form action="./create" method="POST">
  <input type="text" placeholder="Task Name" /> 
  <input type="text" placeholder="Project Name" />
  <input type="text" placeholder="Creator" /> 
  <input type="text" placeholder="Owner" /> 
  <button class="bg-blue-600">New task</button>
</form>
